<div class="card">
    <div class="card-img" style="background-image:url({{photo}})" ></div>
    
    <h2 class="card-title">{{heading}}</h2>
    <p class="card-p">{{info}}</p>
    <a class="card-button" href="{{linkUrl}}">{{linkText}}</a>
</div>